
body {
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}


nav ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

nav li {
    margin: 0;
}

nav a {
    font-size: 18px;
    padding: 10px 0;
}

.contenedor,
.imagenes {
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    gap: 1.2rem;
}

.ulservicios {
    text-align: center;
}


footer {
    margin-top: 3rem !important; 
    padding: 1rem;
}

@media (min-width: 768px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    nav a {
        font-size: 20px;
        padding: 10px 15px;
    }

    .contenedor,
    .imagenes {
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }

    .margen {
        max-width: 900px;
        margin: auto;
    }

    footer {
        margin-top: 10%;
    }
}

@media (min-width: 1024px) {

    nav ul {
        gap: 30px;
    }

    .margen {
        max-width: 1100px;
    }

    .imagenes {
        gap: 4rem;
    }

    footer {
        margin-top: 8%;
    }
}

.imagenes {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.imagenes {
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    border-width: 2px;
}

@media (min-width: 768px) {
    .imagenes {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

form.contenedor {
    width: 100%;
}

form.contenedor div {
    width: 100%;
    max-width: 450px;
}

input,
textarea,
button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}

button {
    background: #333;
    color: white;
    border: none;
}

@media (min-width: 768px) {
    form.contenedor {
        flex-direction: row;
        justify-content: center;
    }

    form.contenedor div {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    form.contenedor div {
        max-width: 600px;
    }
}
